.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact h1 {
  color: var(--secondary_color);
  font-family: var(--primary_font);
}

.contact_content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact_content form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2% 4%;
  border: solid 2px var(--primary_color);
  min-height: 30vh;
}
