.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5vh;
}

.contact h1 {
  color: var(--switch_red_to_green);
  font-family: var(--primary_font);
}

.contact_content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  padding-left: 5%;
}

.contact_content form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 2px var(--primary_color);
  min-height: 30vh;
  color: var(--switch_red_to_green);
  font-weight: 600;
  font-family: var(--primary_font);
  width: 20vw;
  height: 60vh;
  padding: 5%;
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--form_background_color);
}

.contact_content form textarea {
  height: 30%;
  width: 85%;
  text-align: center;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--form_input_color);
}

.contact_content form input {
  width: 85%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 8%;
  background-color: var(--form_input_color);
}

form label:nth-of-type(-n + 3) {
  text-align: left;
  width: 80%;
}

form label {
  margin-bottom: 1vh;
}

form button {
  border: none;
  color: white;
  background-color: var(--primary_color);
  padding: 3% 5%;
  border-radius: 5px;
  font-family: var(--primary_font);
  align-self: flex-end;
  cursor: pointer;
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

form button:hover {
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.contact_content img {
  height: 75vh;
}

@media screen and (max-width: 1200px) {
  .contact_content img {
    height: 50vh;
  }
}

@media screen and (max-width: 760px) {
  .contact_content {
    flex-direction: column;
    padding: 0%;
  }

  .contact_content img {
    height: 40vh;
  }

  .contact_content form {
    width: 75vw;
  }

  .contact_content_form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
