.steps-container {
  position: relative;
}

.progress-line {
  position: absolute;
  height: 2px;
  background: var(--secondary_color);
  width: 0;
  top: 50%;
  left: 0;
  z-index: -1;
  transition: all 0.25s ease;
}

.steps-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.steps {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--secondary_color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  cursor: pointer;
  color: white;
}

.steps.active {
  background-color: var(--primary_color);
}

.experiences {
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  width: 100%;
}

.experiences h1 {
  color: var(--secondary_color);
  font-family: var(--primary_font);
  margin-bottom: 9vh;
}

.stepper {
  min-width: 80%;
  margin: 0 10vw;
}

.experiences_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4vh;
}

.experiences_content p {
  min-height: 25vh;
  width: 65%;
  font-size: 1.2em;
}

.experiences_content div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  margin-top: 6vh;
  margin-bottom: 10vh;
  height: 2vh;
}

.experiences_content button {
  border: none;
  padding: 2% 4%;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  transition: 0.35s;
  color: var(--secondary_color);
  font-weight: 600;
  font-size: 0.8em;
  margin-top: 2vh;
}

.experiences_content button:hover {
  cursor: pointer;
  background-color: var(--primary_color);
  color: white;
}

/* --------------- Media Queries --------------- */

@media screen and (max-width: 760px) {
}
