.steps-container {
  position: relative;
}

.progress-line {
  position: absolute;
  height: 2px;
  background: var(--secondary_light_color);
  width: 0;
  top: 50%;
  left: 0;
  transition: all 0.25s ease;
}

.steps-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.steps {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--secondary_color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  cursor: pointer;
  color: white;
  z-index: 1;
}

.steps.active {
  background-color: var(--primary_color);
}

.experiences {
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  width: 100%;
}

#experiences_main_title {
  color: var(--switch_red_to_green);
}

.experiences h1 {
  color: var(--secondary_light_color);
  font-family: var(--primary_font);
  margin-bottom: 9vh;
}

.stepper {
  min-width: 80%;
  margin: 0 10vw;
}

.experiences_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4vh;
}

.experiences_content p {
  min-height: 25vh;
  width: 65%;
  font-size: 1.2em;
  color: var(--text_color1);
}

.experiences_content div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  margin-top: 6vh;
  margin-bottom: 10vh;
  height: 2vh;
}

.experiences_content button {
  border: none;
  padding: 2% 4%;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  color: var(--secondary_color);
  font-weight: 600;
  font-size: 1em;
  margin-top: 2vh;
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.experiences_content button:hover {
  cursor: pointer;
  background-color: var(--primary_color);
  color: white;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
}

button:disabled,
button[disabled],
button[disabled]:hover {
  border: 1px solid #999999;
  background-color: #e7e5e5;
  color: #666666;
  box-shadow: none;
}

/* --------------- Media Queries --------------- */

@media screen and (max-width: 760px) {
  .experiences {
    margin-top: 20vh;
  }

  .experiences h1 {
    margin-bottom: 1vh;
  }

  .stepper {
    margin: 0 5vw;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .steps-container {
    display: none;
    flex-direction: column;
    height: 60vh;
    width: 30vw;
  }

  .steps-wrapper {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .experiences h1 {
    text-align: center;
  }

  .experiences_content {
    margin-bottom: 3vh;
  }

  .experiences_content p {
    width: 90%;
    min-height: 40vh;
    text-align: center;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .experiences_content h1 {
    font-size: 1.3em;
  }

  .experiences_content div {
    margin-top: 0;
    margin-bottom: 4vh;
  }

  .experiences_content button {
    margin-top: 0;
    font-size: 1.1em;
    height: 7vh;
    width: 30vw;
    margin-top: 7vh;
  }
}
