/*////////////////////////////////////////////////
//////////////     Presentation      ////////////
//////////////////////////////////////////////*/

#myPresentation {
  margin-bottom: 30vh;
}

.presentation {
  display: flex;
  justify-content: space-around;
  margin-top: 15vh;
}

/*/ ///////////////////////////////////////////////
////////////////   Presentation 1     ///////////
//////////////////////////////////////////////*/

.presentation1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--switch_red_to_green);
  font-size: 1.1em;
}

.presentation1 h1 {
  font-family: var(--primary_font);
  font-size: 1.8em;
}

.presentation1 p {
  width: 80%;
  font-size: 1.1em;
  color: var(--text_color1);
  font-family: var(--secondary_font);
}

.presentation1 div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10vw;
  gap: 20px;
}

.presentation1 a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.presentation1 img {
  height: 6vh;
  /* transition: transform 200ms ease-in-out; */
  filter: grayscale(100%);
}

.presentation1 img:hover {
  cursor: pointer;
  transform: scale(1.1);
  filter: grayscale(0%);
}

/*/ ///////////////////////////////////////////////
////////////////   Presentation 2     ///////////
//////////////////////////////////////////////*/

.presentation2 {
  flex: 1;
  display: flex;
  gap: 20%;
}

.presentation2-spec {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 13vw;
  margin-left: 3vw;
}

.presentation2 img:first-child {
  max-height: 55vh;
  margin-left: 1vw;
}

.presentation2-spec div {
  background-color: var(--primary_light_color2);
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10vh;
  font-size: 0.9em;
  justify-content: flex-start;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.presentation2-spec h3 {
  background-color: var(--secondary_color);
  padding: 2% 8%;
  border-radius: 0 0 5px 5px;
  margin-bottom: 1.5vh;
  margin-top: 0;
}

.presentation2-spec img {
  margin-right: 0.5vw;
}

.presentation2-spec p {
  margin: 2% 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentation2_loc p {
  text-align: center;
}

/*////////////////////////////////////////////////
////////////////      Media Queries   ///////////
//////////////////////////////////////////////*/

@media screen and (min-width: 1920px) {
  .presentation2-spec {
    margin-left: -3vw;
  }

  #myPresentation {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1700px) {
  .presentation2-spec {
    margin-left: 0;
  }
}

@media screen and (max-width: 1580px) {
  .presentation2 {
    flex: 1;
    display: flex;
    gap: 10%;
  }
}

@media screen and (max-width: 1200px) {
  .presentation2 img:first-child {
    max-height: 40vh;
  }
}

@media screen and (max-width: 1050px) {
  .presentation {
    flex-direction: column;
    margin-top: 1vh;
  }

  #myPresentation {
    margin-bottom: 19vh;
  }

  .presentation1 div {
    justify-content: center;
    margin-right: 0;
    gap: 40px;
    margin-top: 2vh;
  }

  .presentation1 {
    font-size: 0.9em;
  }

  .presentation1 img {
    height: 5vh;
  }

  .presentation2 {
    flex-direction: column;
    align-items: center;
  }

  #photo_portrait {
    height: 25vh;
    width: auto;
    margin: 5vh;
  }

  .presentation2-spec img {
    height: 3vh;
  }

  .presentation2-spec {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100vw;
  }

  .presentation2-spec div {
    flex: 0 0 auto;
    padding: 0 4%;
    white-space: nowrap;
    font-size: 0.8em;
  }
}
