.my_navbar {
  font-family: var(--primary_font);
}

.navbar_nav {
  display: flex;
  width: 100%;
}

/*////////////////////////////////////////////////
    ////////////////      Menu Mobile      /////////
    //////////////////////////////////////////////*/

.navbar_burger {
  display: none;
  margin: 0;
  width: 7vw;
}

.navbar_burger svg {
  stroke: var(--secondary_color);
  width: 100%;
  height: auto;
}

.navbar_burger_close {
  display: none;
}

.navbar_burger_close:hover {
  cursor: pointer;
}

/*////////////////////////////////////////////////
    ////////////////      Logo           ///////////
    //////////////////////////////////////////////*/

.logo {
  height: 4.5rem;
  margin: 3vh 0 0 2vh;
}

/*////////////////////////////////////////////////
    ////////////////      Nav Link         ///////////
    ////////////////////////////////////////////////*/

.navbar {
  margin-top: 2vh;
  width: 100%;
}

.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar_link {
  text-decoration: none;
  color: var(--secondary_color);
  font-weight: 600;
  font-size: 1.2em;
  padding: 0 10px;
  position: relative;
}

.navbar_link a {
  text-decoration: none;
}

.navbar_link:after {
  content: "";
  height: 1px;
  background-color: var(--secondary_color);
  width: 0;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: 0.2s all ease-in-out;
}

.navbar_link:hover:after {
  width: 100%;
  left: 0;
}

.navbar_link:hover {
  cursor: pointer;
}

.links {
  display: flex;
  margin: 5vh 3vw;
}

.links div {
  display: flex;
  gap: 7%;
}

/*////////////////////////////////////////////////
    ////////////////      CV Button      ///////////
    ////////////////////////////////////////////////*/

.cv {
  margin-right: 0;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cv button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.cv button {
  border: none;
  height: 55px;
  width: 55px;
  max-width: 55px;
  max-height: 55px;
  background-color: var(--secondary_color);
  color: white;
  border-radius: 15px;
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* -*--------------------------------------------------------------------- */

/* ----------------------------------------------------------------*------- */

.cv p {
  color: var(--primary_color);
  margin-top: 0;
}
/*////////////////////////////////////////////////
    ////////////////      Media Query      ///////////
    ////////////////////////////////////////////////*/

@media screen and (max-width: 1050px) {
  .navbar_burger {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .navbar_burger svg {
    cursor: pointer;
    margin-left: 5%;
  }

  .navbar_nav {
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
  }

  .navbar {
    order: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    min-width: 150px;
    height: 100vh;
    background-color: var(--primary_color);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 2;
    margin-top: 0;
  }

  .navLink {
    height: 100%;
  }

  .navbar.open {
    display: flex;
    animation: transformMenu 350ms ease-in-out forwards;
  }

  @keyframes transformMenu {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: initial;
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }

  .links div {
    flex-direction: column;
  }

  .links div a {
    color: white;
  }

  .navbar_burger_close {
    display: block;
  }

  .navbar_burger_close svg {
    stroke: white;
    width: 15%;
    height: auto;
    position: absolute;
    top: 16px;
    left: 16px;
    stroke-width: 2;
    transition: transform 500ms ease-in-out;
  }

  .navbar_burger_close svg:hover {
    transform: scale(1.2) rotate(360deg);
  }

  .overlay_menu_mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1;
  }

  .overlay_menu_mobile.open {
    display: block;
  }

  .logo {
    margin: 2vh 0 0 0;
  }

  .cv button {
    margin: 0 0 0 auto;
    border-radius: 0;
    height: 49px;
    width: 49px;
  }

  .cv p {
    font-size: 0.7em;
    text-align: center;
  }
}

@media screen and (max-width: 760px) {
  .cv {
    width: 9vh;
    align-items: flex-end;
  }

  .cv button {
    margin: 0;
    border-radius: 0 0 0 15px;
    height: 50px;
    width: 50px;
  }

  .logo {
    margin: 0;
    height: 8vh;
  }

  .navbar_burger {
    width: 8vh;
  }

  .navbar_burger svg {
    width: 6vh;
    margin-top: -2vh;
  }
}
