.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5vh 0;
  background-color: var(--primary_light_color2);
  color: white;
  font-family: var(--primary_font);
}

.skills h1 {
  margin-bottom: 5vh;
  font-weight: 400;
}

.skills_content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 5vh;
}

.skills_content div {
  width: 25%;
}

.skills_backAndbdd {
  border-right: solid 2px black;
}

.skills_front {
  background-image: url("../assets/skills_background.svg");
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.skills_front p {
  line-height: 3;
}

.skills_plus {
  border-left: solid 2px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
}

.skills img {
  height: 4vh;
  margin-right: 1vw;
}

#skillsBack {
  width: 100%;
}

.skills_bdd {
  margin-top: 10vh;
  margin-bottom: 5vh;
}

#skillsBdd {
  width: 100%;
}

#skillsBdd div {
  width: 100%;
}

/* ------------------- Media Queries --------------------- */

@media screen and (max-width: 1470px) {
  .skills_front h3 {
    margin: 10% 0 0 0;
  }
}

@media screen and (max-width: 760px) {
  .skills {
    margin: 2vh 0;
  }

  .skills h1 {
    margin-bottom: 0;
  }

  .skills_content {
    flex-direction: column;
  }

  .skills_content div {
    width: 100%;
  }

  .skills_content p {
    border-bottom: solid 2px white;
    padding-bottom: 10%;
    width: 60vw;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  #skillsBack,
  #skillsBdd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skills_bdd {
    margin-top: 0;
    margin-bottom: 0;
  }

  #skillsBdd div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skills_backAndbdd {
    border-right: none;
  }

  .skills_plus {
    border-left: none;
    padding-bottom: 0;
  }

  .skills h3 {
    color: var(--secondary_color);
    margin-bottom: 0;
  }

  .skills_front h3 {
    color: white;
  }
}
