.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5vh 0;
  background-color: var(--primary_color);
  color: white;
  font-family: var(--primary_font);
}

.skills h1 {
  margin-bottom: 5vh;
  font-weight: 400;
}

.skills_content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 5vh;
}

.skills_content div {
  width: 25%;
}

.skills_backAndbdd {
  border-right: solid 2px black;
}

.skills_front {
  background-image: url("../assets/skills_background.svg");
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.skills_front p {
  line-height: 3;
}

.skills_plus {
  border-left: solid 2px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
}

.skills img {
  height: 4vh;
  margin-right: 1vw;
}

#skillsBack {
  width: 100%;
}

.skills_bdd {
  margin-top: 10vh;
  margin-bottom: 5vh;
}

#sqlSection {
  display: flex;
}

#skillsBdd {
  width: 100%;
}

#skillsBdd div {
  width: 100%;
}

/* ------------------- Media Queries --------------------- */

@media screen and (max-width: 760px) {
  .skills_content {
    flex-direction: column;
  }

  .skills_content div {
    width: 100%;
  }

  #skillsBack,
  #skillsBdd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #skillsBdd div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skills_backAndbdd {
    border-right: none;
    border-bottom: solid 2px white;
  }

  .skills_plus {
    border-left: none;
    border-top: solid 2px white;
  }
}
